# Bỏ qua thư mục node_modules của cả front-end và back-end
node_modules/
fe/node_modules/
be/node_modules/

# Bỏ qua các file cấu hình môi trường nhạy cảm
.env

# Bỏ qua các file log hoặc cache
npm-debug.log*
yarn-error.log*
.DS_Store